/** color variables **/

$mint: #6FCF97;
$orange: #F2994A;
$gray: #828282;
$darkgray: #333333;
$lightgray: #C4C4C4;
$red: #EB5757;
$secondary: $mint;
$main: $darkgray;

/** font family Roboto/Open Sans **/
@import url('https://fonts.googleapis.com/css?family=Open+Sans|Sue+Ellen+Francisco');
* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: $mint;
}

body, html {
    font-family: 'Sue Ellen Francisco', 'Open Sans', sans-serif;
    height: 100%;
    margin: 0;
    padding: 0;
    background: $main;
}

.container {
    margin: 0;
    padding: 0;
}

#root {
    height: 100%;
}

.container {
    padding: 10px 0px 10px 0px;
    margin: 10px auto;
    padding-bottom: 60px;
    height: 100%;
}

.wrapper {
    padding: 10px;
    margin-bottom: -60px;
    min-height: 100%;
}

footer {
    // // position:absolute;
    bottom:0;
    width:100%;
    height:10%;   /* Height of the footer */
    background-color: $main;
    text-align: center;
    color: $orange;
    padding: 10px;
    line-height: 1em;
    font-size: 2em;
}

.push {
    height: 70px;
}



nav {
    background-color: $lightgray;
    font-size: 2em;
    .nav-brand {
        float: left;
    }
    li {
        float: right;
        a {
            display: block;
            color: $main;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
        }
        a:hover:not(.active) {
            background-color: $mint;
            color: black;
        }
    }
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: $lightgray;
        position: fixed;
        top: 0;
        width: 100%;
    }
}



/** separating the css for distinct pages **/
@import 'form';
@import 'landing';